@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.logo {
    font-family: 'Secular One', sans-serif;
    color: #1cffca;
    text-decoration: none;
    font-size: 23px;
    margin-left: 20px;
}