@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
#root {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

#alert-root {
    position: fixed;
    right: 22px;
    bottom: 5px;
    z-index: 100;
}

main {
    flex: 1;
    padding: 0 0 60px;
    position: relative;
    background: #14b394;
}

body {
    background: #14b394;
    margin: 0;
}

.link-text {
    transition: opacity 150ms ease-in;
    &:hover {
        opacity: .5;
    }
}